# node.js modules
node_modules

# nyc's coverage output
.nyc_output

# typescript' output directories
packages/*/lib

# typescript' build files
tsconfig.tsbuildinfo

# typedoc output directories
packages/*/docs
