# node.js modules
node_modules

# nyc coverage output directories
.nyc_output
coverage

# typescript output directories
packages/*/lib

# typescript build files
tsconfig.tsbuildinfo

# yarn log output files
yarn-debug.log
yarn-error.log

# lerna log output files
lerna-debug.log
